
.home-text-row {
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

.home-text-row-v2 {
    margin-top: 20px;
    width: 100%;
}

.home-text-row-v3 {
    margin-top: 5px;
    width: 100%;
}

.detail-title-row {
    margin-top: 20px;
    margin-left: 50px;
    width: 88%;
}

.detail-title-row-v2 {
    margin-top: 5px;
    margin-left: 50px;
    width: 88%;
}

.detail-title-row-v3 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    width: 88%;
}

.home-collapse {
    margin-top: 10px;
    margin-left: 45px;
    width: 90%;
}

.detail-status-frame {
    height: 50px;
    border-radius: 10px;
    border-width: 3px;
    background-color: rgba(254,175,191,0.2);
    border-color: rgb(254,175,191);
}

.home-calendar-row {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(254,175,191,0.2);
    border-radius: 10px;
    width: 98%;
}

.home-anime-card {
    margin-top: 15px;
    margin-left: 45px;
    margin-right: 50px;
    height: 200px;
    width: 89%;
    border-radius: 20px;
    border-color: rgba(175, 170, 170, 0.3);
    box-shadow: 10px 10px 5px 0 rgba(175, 170, 170, 0.3);
}

.home-anime-propose-row {
    margin-left: 45px;
    margin-top: 10px;
    height: 150px;
    width: 89%;
    background-color: rgba(229, 230, 234, 0.4);
}

.home-layout {
    height: 100%;
    width: 100%;
}

.home-anime-card-sider {
    height: 100%;
    width: 10%;
}

.home-anime-card-content {
    margin-left: 20px;
    height: 100%;
    width: 90%;
}

.anime-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.anime-sub-title {
    margin-top: 3px;
    font-size: 14px;
    color: grey;
}

.anime-summary {
    margin-top: 5px;
}

.anime-user-title-top {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
    color: grey;
}

.anime-user-title-down {
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
    color: grey;
}
