
.home-text-row {
    margin-top: 20px;
    width: 100%;
    height: 50px;
}

.home-anime-card {
    margin-top: 15px;
    margin-left: 45px;
    margin-right: 50px;
    height: 200px;
    width: 85%;
    border-radius: 20px;
    border-color: rgba(175, 170, 170, 0.3);
    box-shadow: 10px 10px 5px 0 rgba(175, 170, 170, 0.3);
}

.home-layout {
    height: 100%;
    width: 100%;
}

.home-anime-card-sider {
    height: 100%;
    width: 10%;
}

.home-anime-card-content {
    margin-left: 20px;
    height: 100%;
    width: 90%;
}

.anime-title {
    font-size: 20px;
    font-weight: bold;
}

.anime-sub-title {
    margin-top: 3px;
    font-size: 14px;
    color: grey;
}

.anime-summary {
    margin-top: 5px;
}

.anime-user-title-top {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
    color: grey;
}

.anime-user-title-down {
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
    color: grey;
}
